<div class="card mx-auto text-center border-light" style="width: 18rem;">
  <img src="assets/angular.png" class="card-img-top" alt="Angular logo">
  <div class="card-body">
    <h5 class="card-title">Blog Marcelo Humerez</h5>
    <p class="card-text">
      <b>Email:</b>
      <li>marcelohumerez@gmail.com</li>
    </p>
    <a href="https://angular.io/" target="_blank" class="card-link">Experiencias</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Fotografias</a>
  </div>
</div>
